/* SignWrapper */



/* profileIcon */
.profileIcon_wrapper {
    width: 156px;
    height: 156px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #EBEF95;
    margin-bottom: 80px;
}

/* menuBtn */

