.wrapper {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
}

.lottie {
    margin: 2rem 0;
    width: 240px;
    height: 240px;
}

.infoComment {
    text-align: center;
}

.infoComment span {
    color: blue;
    cursor: pointer;
}
