.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 98vh;
    /* height: 100%;
    min-height: 1000px; */
}

.homeContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #EF9595;
    /* margin: 0; */

}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
    position: relative;
}

.textWrapper {
    width: 100%;
    color: white;
    padding: 0;
    min-width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textWrapper h1 {
    font-size: 4rem;
}

.textWrapper p {
  font-size: 2rem;
}






.imgWrapper {
    display: none;
    
}


@media all and (min-width:1024px) {
    .container {
        justify-content: center;
    }
    .textWrapper {
        width: 40%;
        padding: 2em 0;

    }
    .homeContainer {
        margin: 200px;
    }
    .imgWrapper {
        position: absolute;
        margin: 0 0 0 2rem;
        display: block;
        width:35vw;
        top: 0;
        right: 0;
        height: 100%;
    }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
/* @media all and (min-width:768px) and (max-width:1023px) {
    .container {
        min-width: 768px;
    }
    .header {
        width: 768px;
    }
    .wrapper {
        width: 768px;
    }

} */


/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {

}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    .container {
        min-width: none;
    }
    .header {
        width: 100%;

    }
    .wrapper {
        width: 100%;

    }

}
