.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
}

.lottie {
    margin: 2rem 0;
    width: 240px;
    height: 240px;
}

.infoComment {
    text-align: center;
}

.infoComment span {
    color: blue;
    cursor: pointer;
}

.infoComment span:hover {
    text-decoration: underline;
}

/* StudentProfile */
.profile_container {
    width: 192px;
    height: 228px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    border-radius: 5%;
    margin: 10px;
}

.StudentProfileItemWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.StudentProfileItemContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.profile_icon {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media all and (min-width:1024px) {
    .StudentProfileItemWrapper{
        width: 80%;
    }
}